.page_wrapper {
  padding: 20px;
  width: 100%;
}

.add_btn {
  background: #007bff;
  color: #fff;
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
}

.admin_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

.admin_table th,
.admin_table td {
  padding: 10px 12px;
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #eee;
}

.admin_table th:last-child,
.admin_table td:last-child {
  border-right: none;
}

.action_col {
  width: 200px;
}

.action_btns button {
  margin-right: 10px;
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_box {
  width: 375px;
  background: #fff;
  padding: 38px 24px;
  border-radius: 6px;
}
.delete_head {
  font-weight: 600;
  font-size: 22px;
  color: #022868;
}
.delete_box p {
  font-size: 16px;
}
.modal_box input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal_actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.confirm_btn {
  background: #b71702;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.cancel_btn {
  background: #6c757d;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.save_btn {
  background: #111652;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
}

.cancel_btn {
  background: rgb(151, 147, 147);
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
}

.deleteModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.deleteModalBox {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.deleteModalTitle {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.deleteModalText {
  font-size: 15px;
  margin-bottom: 20px;
}

.deleteModalActions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.deleteBtn {
  background-color: red;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelBtn {
  background-color: #6c757d;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
