.orgLogin-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #4b79a1, #283e51);
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.orgLogin-card {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 40px 35px;
  border-radius: 18px;
  text-align: center;

  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.7s ease;
}

.orgLogin-title {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  margin-bottom: 8px;
}

.orgLogin-subtitle {
  font-size: 15px;
  color: #666;
  margin-bottom: 25px;
}

.orgLogin-inputGroup {
  text-align: left;
  margin-bottom: 18px;
}

.orgLogin-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.orgLogin-input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.3s ease;
}

.orgLogin-input:focus {
  border-color: #4b79a1;
  outline: none;
  box-shadow: 0 0 5px rgba(75, 121, 161, 0.4);
}

.orgLogin-passwordWrapper {
  position: relative;
  margin-bottom: 15px;
}

.orgLogin-togglePassword {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.orgLogin-btn {
  width: 100%;
  padding: 14px 0;
  background: #4b79a1;
  color: #fff;
  border: none;
  border-radius: 12px;

  font-size: 18px;
  font-weight: 600;

  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.orgLogin-btn:hover {
  background: #3a5c7a;
  transform: translateY(-3px);
}

.orgLogin-footer {
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}

.orgLogin-footer a {
  color: #4b79a1;
  text-decoration: none;
  font-weight: 600;
}

.orgLogin-footer a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .orgLogin-card {
    padding: 30px 0px;
  }

  .orgLogin-title {
    font-size: 24px;
  }

  .orgLogin-btn {
    font-size: 16px;
  }
}

.orgLogin-backBtn {
  background: transparent;
  border: none;
  color: #4b79a1;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease;
}

.orgLogin-backBtn:hover {
  color: #3a5c7a;
  transform: translateX(-3px);
}

.orgLogin-backIcon {
  font-size: 16px;
}
